body {
  display: flex;
  background: gray;
  padding: 2rem;
  justify-content: center;
}
.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 9fr 1fr;
  width: 23.5rem;
  height: 40rem;
}
.container.open {
  grid-template-rows: 5fr 5fr;
}